<!-- Modal de Confirmação -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-left mt-4 mx-3">
                <h5 class="mb-1">Editar informações do perfil</h5>
                <p class="mb-3">Modifique seu perfil da maneira que desejar.</p>
            </div>

            <form action="/perfil/user/{{user.dataValues.id}}/edit" method="post" class="m-3 mt-1">

                <div class="container">

                    <input type="hidden" name="id" value="{{user.dataValues.id}}">

                    <div class="input-group mb-3 d-flex justify-content-between align-items-center gap-2">
                        <div>
                            <img src="{{user.dataValues.perfil}}" alt="Foto de perfil" class="rounded-circle logo">
                        </div>
                        <input type="text" name="perfil" class="form-control rounded" placeholder="foto de perfil"
                            aria-label="Foto de perfil do usuário" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <div class="mb-2">
                            <img src="{{user.dataValues.banner}}" alt="banner do perfil" class="rounded w-100">
                        </div>
                        <input type="text" name="banner" class="form-control rounded" placeholder="Banner do perfil"
                            aria-label="Banner do perfil do usuário" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" name="name" class="form-control" placeholder="{{user.dataValues.name}}"
                            aria-label="nome do usuário" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" name="email" class="form-control" placeholder="{{user.dataValues.email}}"
                            aria-label="E-mail do usuário" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>

                </div>

                <div class="container">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Fechar">
                        Cancelar
                    </button>
                    <input type="submit" class="btn btn-success" value="Confirmar">
                </div>

            </form>

        </div>
    </div>
</div>

<!-- Scripts do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>