<a class="buy-card-archor" href="/store/buy/points/<%= token.id %>">
    <section class="default-card buy-card">
        <img src="/source/images/versecoins/<%= token.image %>" alt="Imagem ilustrativa de Versecoins">
        <section class="about">
            <h3><%= token.type %></h3>
            <h2><%= token.title %></h2>
            <h4>R$ <%= token.price %></h4>
        </section>
    </section>
</a>