<section class="default-card users-highlights-card">
    <section class="header-card">
        <h3>Destaques</h3>
        <hr>
    </section>

    <section>
        <% if (highlights && highlights.length > 0) { %>

            <% 
            highlights = highlights.map(user => {
                return {
                    ...user,
                    followers: JSON.parse(user.followers).length
                };
            });

            highlights.sort((a, b) => b.followers - a.followers);

            highlights.forEach(user => { %>
                <a href="/profile/<%= user.id %>" aria-label="Ir para a página de ver perfil do usuário criador do Comentário">
                    <section class="user-info">
                        <section class="perfil">
                            <img class="" src="/uploads/user/perfils/<%= user.perfil %>" alt="Imagem do perfil de <%= user.name %>">
                        </section>
                        <section class="text informations-card">
                            <h2><%= user.name %></h2>
                            <span><%= user.followers %> seguidores</span>
                        </section>
                    </section>
                </a>
            <% }) %>


        <% } else { %>

            <span>Sem destaques atualmente.</span>

        <% } %>
    </section>
</section>
