<section class="default-card users-highlights-card">
    <section class="header-card">
        <h3>Destaques</h3>
        <hr>
    </section>

    <section>
        <% if (highlights && highlights.length > 0) { %>

            <% 
            highlights = highlights.map(user => {
                return {
                    ...user,
                    followers: JSON.parse(user.followers).length
                };
            });

            highlights.sort((a, b) => b.followers - a.followers);

            highlights.forEach(user => { %>
                <a href="/profile/<%= user.id %>" aria-label="Ir para a página de ver perfil do usuário">
                    <section class="user-info">
                        <section class="perfil">
                            <img
                                src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : `/uploads/user/perfils/default.png` %>"
                                alt="Imagem do perfil de <%= user.name %>">
                        </section>
                        <section class="text informations-card">
                            <h2><%= user.name %><% if (user.pass == 1) { %> <i class="bi bi-robot with-pass"></i> <% } %></h2>
                            <span><p><%= user.followers %> seguidor(es)</p></span>
                        </section>
                    </section>
                </a>
            <% }) %>


        <% } else { %>

            <span>Sem destaques atualmente.</span>

        <% } %>
    </section>
</section>
