<section class="default-card profile-card">
    <section class="profile-banner">
        <img class="profile-banner" 
            src="<%= profile.bannerBase64 ? `data:image/png;base64,${profile.bannerBase64}` : '/uploads/user/banners/default.png' %>" 
            alt="Banner de perfil de <%= profile.name %>">
    </section>
    <section class="profile-infos">
        <section class="user-infos">
            <img
                src="<%= profile.perfilBase64 ? `data:image/png;base64,${profile.perfilBase64}` : '/uploads/user/perfils/default.png' %>" 
                alt="Foto de perfil de <%= profile.name %>">
            <section>
                <h2>
                    <%= profile.name %> <% if (profile.pass == 1) { %> <i class="bi bi-robot with-pass"></i> <% } %>
                </h2>
                <section class="following-and-followers">
                    <p onclick="toggleModal()"><%= JSON.parse(profile.followers).length %> seguidor(es)</p>
                    <p onclick="toggleModal()"><%= JSON.parse(profile.following).length %> Seguindo</p>
                </section>
            </section>
        </section>
        <section class="user-edit">
            <% if (locals.userid === profile.id) { %>
            <section class="more-icon">
                <section class="dropdown-header-image">
                    <i class="bi bi-grid dropbtn"></i>
                    <section class="dropdown-content">
                        <ul>
                            <li><a href="/profile/<%= profile.id %>/edit" aria-label="Ir para a página de editar perfil do usuário"><i class="bi bi-gear"></i> Configurações</a></li>
                        </ul>
                    </section>
                </section>
            </section>
            <% } %>
        </section>
    </section>
    <section class="profile-details">
        <section class="biography">
            <p><%= profile.biography %></p>
        </section>
    </section>
    <section class="actions">
        <% if (!(locals.userid === profile.id) && locals.userid) { %>
            <form action="/profile/follows" method="post">
                <input type="hidden" name="id" value="<%= profile.id %>">
                <% if (profile.followers.includes(user.id)) { %>
                    <button type="submit" class="unfollowbtn"><i class="bi bi-person-dash"></i> Deixar de seguir</button>
                <% } else { %>
                    <button type="submit" class="followbtn"><i class="bi bi-person-check"></i> Seguir</button>
                <% } %>
            </form>
        <% } %>
    </section>
</section>