<!-- <section class="default-card task-card">
    <h1>Adicionar pontos</h1>
    <span>Essa ação é temporaria, será usada apenas para testes.</span>
    <span>Após um periodo de desenvolvimento, será removido</span>

    <form action="/store/getPoints" method="post">
        <input type="number" name="points" placeholder="Quantidade de pontos" min="0" max="999999">
        <input type="submit" value="Confirmar">
    </form>
</section> -->

<section class="default-card task-card">
	<article class="card">
	<figure class="card-image">
		<img src="https://i.pinimg.com/564x/32/81/5a/32815a59e9c91922a02a7fe43d3af82b.jpg" alt="An orange painted blue, cut in half laying on a blue background" />
	</figure>
	<section class="card-header">
		<section>
			<h2><%= challenge.title %></h2>
			<p><%= challenge.description %></p>
		</section>
			<form action="/store/startChallenge" method="post">
				<input type="hidden" name="challengeId" value="<%= challenge.id %>">
				<button type="submit" class="icon-button" <%= locals.userid ? '' : 'disabled' %>>
					<i class="bi bi-hand-index-thumb"></i>
				</button>
			</form>
	</section>
	<section class="card-footer">
		<span class="card-meta card-meta-points">
			<i class="bi bi-currency-dollar"></i>
			<%= challenge.points %>
		</span>
	</section>
</article>
</section>