<section class="default-card user-info-card">
    <section class="header-card">

        <section class="user-profile-infos">            
            <img class="user-banner"
                src="<%= user.bannerBase64 ? `data:image/png;base64,${user.bannerBase64}` : `/uploads/user/banners/default.png` %>"
                alt="banner de perfil do usuário.">
        <section>
                <section class="perfil">
                    <img class="user-profile perfil"
                        src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : `/uploads/user/perfils/default.png` %>"
                        alt="foto de perfil do usuário.">
                </section>
                <section class="informations-card">
                    <section class="name-for-user">
                        <h3><%= user.name %></h3> <% if (user.pass == 1) { %> <i class="bi bi-robot with-pass"></i> <% } %>
                    </section>
                    <span><%= user.email %></span>
                </section>
            </section>
            <section class="biography">
                <p><%= user.biography %></p>
            </section>
        </section>

    </section>

    <section class="profile-infos">

        <section class="following-and-followers">
            <p onclick="toggleModal()"><%= JSON.parse(user.followers).length %> <br> seguidor(es)</p>
            <p onclick="toggleModal()"><%= JSON.parse(user.following).length %> <br> Seguindo</p>
        </section>

        <section class="view-profile">
            <a href="/profile/<%- user.id %>">Meu Perfil</a>
        </section>

    </section>
</section>