<section class="default-card user-info-card">
    <section class="header-card">

        <section class="user-profile-infos">            
            <img class="user-banner" src="/uploads/user/banners/<%= user.banner %>" alt="banner de perfil do usuário.">
            <section>
                <section class="perfil">
                    <img class="user-profile perfil" src="/uploads/user/perfils/<%= user.perfil %>" alt="foto de perfil do usuário.">
                </section>
                <section class="informations-card">
                    <h3><%= user.name %></h3>
                    <span><%= user.email %></span>
                </section>
            </section>
            <section class="biography">
                <p><%= user.biography %></p>
            </section>
        </section>

    </section>

    <section class="profile-infos">

        <section class="following-and-followers">
            <a href="/profile/viewFollows/<%= user.id %>"><%= JSON.parse(user.followers).length %> <br> Seguidores</a>
            <a href="/profile/viewFollows/<%= user.id %>"><%= JSON.parse(user.following).length %> <br> Seguindo</a>
        </section>

        <section class="view-profile">
            <a href="/profile/<%- user.id %>">Meu Perfil</a>
        </section>

    </section>
</section>