<header class="header">
    <section class="internal-header">
        <section class="logomarca">
            <a href="/" aria-label="Ir para a página principal">
                <% if (router === "../pages/profile/profile.ejs" && profile && profile.collectible !== null) { %>
                    <h1 class="logo-gradient-model"><i class="bi bi-box-fill"></i></h1>
                <% } else  { %>
                        <img src="/source/images/string.svg" alt="Collectverse Marca">
                <% } %>
            </a>
        </section>
        <section class="navigation">
            <nav>
                <ul class="navigation-header">

                    <li class="<%= router === '../pages/store/store.ejs' ? 'activated' : '' %> <%= router === '../pages/store/item.ejs' ? 'activated' : '' %>">
                        <a href="/store" aria-label="Ir para a loja de colecionáveis">
                            <i class="bi bi-bag-fill"></i> <span>Loja</span>
                        </a>
                    </li>

                    <li class="<%= router === '../pages/home/home.ejs' ? 'activated' : '' %>">
                        <a href="/" aria-label="Ir para a página principal">
                            <i class="bi bi-house-fill"></i> <span>Home</span>
                        </a>
                    </li>
                </ul>
                <ul class="header-ul-itens">
                    <li class="li-menu">
                        <section class="menu">
                            <i class="bi bi-grid-fill"></i>
                        </section>
                    </li>
                    <% if (locals.userid) { %>

                        <!-- logado -->

                        <% if (notifications) { %>
                            <li class="li-dropdown-header">
                                <section class="more-icon">
                                    <section class="dropdown-notification">
                                        <i class="bi bi-bell-fill dropbtn"></i>
                                        <section class="dropdown-notification-content">
                                            <ul>
                                                <% if (notifications.length > 0) { %>
                                                    <% notifications.forEach((notification) => { %>
                                                        <li>
                                                            <% if (notification.type === "follow") { %>
                                                                <a href="/profile/<%= notification.UserId  %>">
                                                                    <section class="notification-item">
                                                                        <section>
                                                                            <i class="bi bi-person-check-fill"></i>
                                                                        </section>
                                                                        <section>
                                                                            <h2>Novo Seguidor.</h2>
                                                                            <p><%= notification.content %></p>
                                                                        </section>
                                                                    </section>
                                                                </a>
                                                            <% } %>
        
                                                            <% if (notification.type === "response") { %>
                                                                <a href="/publication/<%= notification.ifCommented  %>">
                                                                    <section class="notification-item">
                                                                        <section>
                                                                            <i class="bi bi-chat-left-text-fill"></i>
                                                                        </section>
                                                                        <section>
                                                                            <h2>Nova resposta.</h2>
                                                                            <p><%= notification.content %></p>
                                                                        </section>
                                                                    </section>
                                                                </a>
                                                            <% } %>
        
                                                            <% if (notification.type === "like") { %>
                                                                <a href="/publication/<%= notification.ifLiked  %>">
                                                                    <section class="notification-item">
                                                                        <section>
                                                                            <i class="bi bi-chat-heart-fill"></i>
                                                                        </section>
                                                                        <section>
                                                                            <h2>Nova curtida.</h2>
                                                                            <p><%= notification.content %></p>
                                                                        </section>
                                                                    </section>
                                                                </a>
                                                            <% } %>
        
                                                        </li>
                                                    <% }); %>
                                                        <li>
                                                            <span>Sem mais notificações.</span>
                                                        </li>
                                                <% } else { %>
                                                    <li class="not-have-notification">
                                                        <span>Sem notificações.</span>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </section>
                                    </section>
                                </section>
                            </li>
                        <% } %>

                        <li class="li-dropdown-header">
                            <section class="dropdown header-dropdown">
                                <section class="perfil">
                                    <img class="user-profile-header <%= router === '../pages/profile/profile.ejs' ? 'inPerfil' : '' %>"
                                        src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : '/uploads/user/perfils/default.png' %>"
                                        alt="foto de perfil do usuário.">

                                </section>

                                <section class="dropdown-content dropdown-header">
                                    <ul>
                                        <li>
                                            <section class="user-info-dropdown">
                                                <section class="perfil">
                                                    <img class="user-profile-header <%= router === '../pages/profile/profile.ejs' ? 'inPerfil' : '' %>"
                                                    src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : '/uploads/user/perfils/default.png' %>"
                                                    alt="foto de perfil do usuário.">
            
                                                </section>
                                                <section class="informations-card">
                                                    <span class="span-for-points">
                                                        <a href="/store/points">$<%= user.points  %></a>
                                                    </span>
                                                    <section class="name-for-user">
                                                        <h3>
                                                            <%= user.name %>
                                                        </h3>
                                                        <% if (user.pass == 1) { %> <i class="bi bi-robot with-pass"></i> <% } %>
                                                    </section>
                                                    <span>
                                                        <%= user.email %>
                                                    </span>
                                                </section>
                                            </section>
                                        </li>
                                        <li><a href="/profile/<%= locals.userid %>"
                                                aria-label="Ir para a página de perfil do usuário"><i
                                                    class="bi bi-person"></i> Perfil</a></li>
                                        <li><a href="/profile/<%= locals.userid %>/edit"
                                                aria-label="Ir para a página de editar perfil do usuário"><i
                                                    class="bi bi-gear"></i> Configurações</a></li>
                                        <li><a class="signOut" href="/sign/logout"
                                                aria-label="Finalizar sessão da conta logada"><i
                                                    class="bi bi-box-arrow-right"></i> Sair</a></li>
                                    </ul>
                                </section>
                            </section>
                        </li>
                        <% } else { %>
                            <!-- deslogado -->
                            <li class="sign-button sign-in-button"><a href="/sign/in"
                                    aria-label="Ir para a página de entrar em um perfil">Entrar</a></li>
                            <% } %>
                </ul>
            </nav>
        </section>
    </section>
</header>