<article class="p-3 w-100 card rounded my-3">
    <header class="d-flex justify-content-between">

        <a href="/perfil/user/{{id}}">
            <div class="d-flex gap-3 align-items-center">
                <figure>
                    <img src="{{User.dataValues.perfil}}" class="logo rounded-circle" alt="Foto de usuário">
                </figure>

                <p>{{User.dataValues.name}}</p>
            </div>
        </a>

        <div>

            <div class="dropdown">
                <button class="btn btn-light p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    aria-label="Opções do Comentário" style="width: 38px;">
                    <i class="bi bi-three-dots-vertical" alt="Opções do Comentário"></i>
                </button>
                <ul class="dropdown-menu">
                    {{#if userHasComment}}
                    <li>
                        <form action="/publications/delete" method="post">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" class="dropdown-item" value="Deletar">
                        </form>
                    </li>
                    {{/if}}
                    <li>
                        <a href="/" class="dropdown-item">Favoritar</a>
                    </li>
                </ul>
            </div>

        </div>

    </header>

    <section>
        <p>{{content}}</p>
        {{#if hasImage}}
        <img src="{{image}}" class="w-100 rounded mb-4 image-w-100 d-block"
            alt="Imagem do comentário de {{User.dataValues.name}}">
        {{/if}}
    </section>


    <footer class="d-flex justify-content-start align-items-center">

        <ul class="d-flex gap-4 fs-5 ps-2 m-0">
            <li><a href="/" aria-label="unset"><i class="bi bi-hand-thumbs-up"></i></a></li>
            <li><a href="/" aria-label="unset"><i class="bi bi-chat-left-dots"></i></a></li>
            <li><a href="/" aria-label="unset"><i class="bi bi-share"></i></a></li>
        </ul>

    </footer>
</article>