<link rel="stylesheet" href="/stylesheet/home/style.css">

<%- include("../../partials/header.ejs") %>
<main>
    
    <section class="main-home">
        <section class="responsive-itens-container">

            <% if (locals.userid) { %>
                <%- include("../../partials/card/user.ejs") %>
            <% } %>
            <!-- recomendações -->
            <%- include("../../partials/card/highlights.ejs") %>

        </section>
    
        <section class="main-content">
            <%- include("../../partials/card/publish.ejs", { router: "/" }) %>

            <section class="container-publications">
                <% if (publications && publications.length > 0) { %>
                    <% publications.forEach(function(publication) { %>
                    <!-- Include do HTML da publicação -->
                    <%- include("../../partials/card/publication.ejs", { publication: publication, router: '/' }) %>
                    <% }); %>
                <% } else { %>
                    <p class="not-publications-founds">Nenhuma publicação encontrada.</p>
                <% } %>
            </section>
            
        </section>
    </section>
    
</main>

<!-- inclui modal de seguidores e seguindo -->

<%- include("../../partials/modal/follows.ejs") %>

<% if (user.tutorial == 0) { %>
   <%- include("../../partials/modal/welcome.ejs", { user: user }) %>
<% } %>