<link rel="stylesheet" href="/stylesheet/profile/style.css">

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

<%- include("../../partials/header.ejs") %>

    <main>
        <section>
            <!-- card de editar o usuário -->
            <section class="default-card edit-card" id="account-preferences">
                <label for="/profile/edit">
                    <h2><i class="bi bi-person-circle"></i> Preferencias da conta.</h2>
                    <hr>
                </label>

                <form action="/profile/edit" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <section class="input-container">
                        <!-- imagens -->
                        <section class="grid-edit">
                            <section class="input-control-files control-perfil">
                                <section class="image-edit">
                                    <img class="perfil" 
                                        src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : '/uploads/user/perfils/default.png' %>" 
                                        alt="Foto de perfil de <%= user.name %>">

                                    <%- include("../../partials/input/files.ejs", {name: "perfil", previewForPublication: false }) %>
                                </section>
                            </section>
                            <section class="input-control-files control-banner">
                                <section class="image-edit">
                                    <img class="banner" 
                                        src="<%= user.bannerBase64 ? `data:image/png;base64,${user.bannerBase64}` : '/uploads/user/banners/default.png' %>" 
                                        alt="banner de perfil de <%= user.name %>">
                                        
                                    <%- include("../../partials/input/files.ejs", {name: "banner", previewForPublication: false }) %>
                                </section>
                            </section>
                            <section class="input-control">
                                <span>Tamanho limite da imagem: 5mb</span>
                                <span>Permitido: jpeg, jpg e png </span>
                                <span>O formato gif só é aceito para usuários com o Passe Premium</span>
                            </section>
                        </section>
                        <section class="input-control">
                            <label for="name">Nome</label>
                            <input type="text" name="name" value="<%= user.name %>" required maxlength="40" pattern="[a-zA-Z0-9_]+">
                            <span>Seu nome aparecera em sua conta. Você pode altera-lo a qualquer momento.</span>
                        </section>
                        <section class="input-control">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" value="<%= user.email %>" required maxlength="80">
                            <span>Seu E-mail é privado, porem, você pode altera-lo a qualquer momento.</span>
                        </section>
                        <section class="input-control">
                            <label for="biography">biografia</label>
                            <input type="text" name="biography" value="<%= user.biography %>" required maxlength="80">
                            <span>Sua biografia é publica, porem, você pode altera-lo a qualquer momento.<br>max:80
                                caracteres</span>
                        </section>
                    </section>

                    <section class="button-container">
                        <input class="submit" type="submit" value="Editar">
                    </section>
                </form>
            </section>
            <!-- alterar a senha -->
            <section class="default-card edit-card" id="account-privacy">
                <label for="/profile/edit">
                    <h2><i class="bi bi-shield-check"></i> Privacidades da conta.</h2>
                    <hr>
                </label>

                <form action="/profile/alter/password" method="post">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <section class="input-container">
                        <!-- senhas -->
                        <section class="input-control">
                            <label for="oldPassoword">Sua senha atual.</label>
                            <input type="password" name="oldPassoword" placeholder="Digite a senha atual." required
                                maxlength="255">
                        </section>
                        <section class="input-control">
                            <label for="newPassword">Nova senha.</label>
                            <input type="password" name="newPassword" placeholder="Digite sua nova senha." required
                                maxlength="255">
                            <span>A senha para o login deve ter pelo menos 6 caracteres e incluir letras maiúsculas,
                                minúsculas, números e caracteres especiais.</span>
                        </section>
                        <section class="input-control">
                            <label for="confirmNewPassword">Confirme sua senha.</label>
                            <input type="password" name="confirmNewPassword"
                                placeholder="Digite sua senha desejada novamente." required maxlength="255">
                            <span>Confirme que a senha desejada está correta.</span>
                        </section>
                    </section>

                    <section class="button-container">
                        <input class="submit" type="submit" value="Alterar">
                    </section>
                </form>
            </section>
            <!-- apagar perfil -->
            <section class="default-card edit-card danger-card" id="account-caution">
                <label for="/profile/edit">
                    <h2><i class="bi bi-dash-circle"></i> Ações sensíveis.</h2>
                    <span>Estas ações podem ser irreversíveis, tenha certeza do que faz.</span>
                    <hr>
                </label>

                <form action="/profile/del/account" method="post">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <section class="input-container">
                        <section class="text-and-input">
                            <section class="text">
                                <h3>Deletar esta conta.</h3>
                                <p>Ao deletar a conta, não será possivel a ter de volta, esteje certo disto.</p>
                                <span>É importante destacar que toda e qualquer interação relacionada ao perfil será
                                    desfeita: comentários entre outros dados.</span>
                            </section>
                            <section class="input">
                                <input type="button" value="Deletar conta.">
                            </section>
                        </section>
                    </section>

                        <%- include('../../partials/modal/remove.ejs') %>

                </form>
                <hr>
                <span>Não será necessário nenhuma confirmação para tais ações.</span>
            </section>
        </section>
    </main>