<link rel="stylesheet" href="/stylesheet/profile/style.css">
<!-- model viewer -->

<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js" defer></script>

<%- include("../../partials/header.ejs") %>

<main>
    <section class="main-profile">
        <section class="responsive-itens-container">

            <%- include('../../partials/card/model.ejs'), { profile } %>

        </section>
        <section class="main-content">
            <!-- banner de perfil -->
        <%- include("../../partials/card/profile.ejs", { profile }) %>

        <!-- form -->
        <% if (locals.userid === profile.id) { %>
            <%- include("../../partials/card/publish.ejs") %>
        <% } %>

            <section class="container-publications">
                <% if(publications && publications.length > 0) { %>
                
                    <% publications.forEach(function(publication) { %>
                        <!-- Include do HTML da publicação -->
                        <%- include("../../partials/card/publication.ejs", {publication: publication}) %>
                    <% }); %>
                    
                <% } else { %>
                    <p class="not-publications-founds">Nenhuma publicação encontrada.</p>
                <% } %>
            </section>
        </section>
    </section>
</main>

<!-- inclui modal de seguidores e seguindo -->

<%- include("../../partials/modal/follows.ejs") %>