<link rel="stylesheet" href="/stylesheet/profile/style.css">
<!-- model viewer -->

<%- include("../../partials/header.ejs") %>

<main>
    <section class="default-card main-viewFollows">
        <section class="header-follows">
            <ol>
                <li><button class="active followersButton" onclick="tabToggle('followers')"><i class="bi bi-box"></i> Seguidores</button></li>
                <li><button class="followingButton" onclick="tabToggle('following')"><i class="bi bi-collection"></i> Seguindo</button></li>
            </ol>
        </section>
        <section class="followers">
            <span>Seguidores</span>
            <% if (followers && followers.length > 0) { %>

                <% followers.forEach(user => { %>
                    <a href="/profile/<%= user.id %>" aria-label="Ir para a página de ver perfil do usuário criador do Comentário">
                        <section class="user-info">
                            <section class="perfil">
                                <img class="" src="/uploads/user/perfils/<%= user.perfil %>" alt="Imagem do perfil de <%= user.name %>">
                            </section>
                            <section class="text informations-card">
                                <h2><%= user.name %></h2>
                            </section>
                        </section>
                    </a>
                <% }) %>
    
    
            <% } else { %>
    
                <span>Sem seguidores atualmente.</span>
    
            <% } %>
        </section>
        <section class="following">
            <span>Seguindo</span>
            <% if (following && following.length > 0) { %>

                <% following.forEach(user => { %>
                    <a href="/profile/<%= user.id %>" aria-label="Ir para a página de ver perfil do usuário criador do Comentário">
                        <section class="user-info">
                            <section class="perfil">
                                <img class="" src="/uploads/user/perfils/<%= user.perfil %>" alt="Imagem do perfil de <%= user.name %>">
                            </section>
                            <section class="text informations-card">
                                <h2><%= user.name %></h2>
                            </section>
                        </section>
                    </a>
                <% }) %>
    
    
            <% } else { %>
    
                <span>Sem seguidores atualmente.</span>
    
            <% } %>
        </section>
    </section>
</main>