<link rel="stylesheet" href="/stylesheet/store/style.css">

<%- include("../../partials/header.ejs") %>
<main>
    <section class="title-for-points-item">
        <h2><%= token.title %></h2>
    </section>
    <section class="container-for-points-item">
        <section class="left-container">
                <img src="/source/images/versecoins/<%= token.image %>" alt="Imagem ilustrativa de Versecoins">
            <section class="description">
                <p><%= token.description %></p>

                <ul>
                    <li>
                        <ul>
                            <li><Span>Gênero</Span></li>
                            <li class="ul-description">

                                <%
                                // Converter a string para um array real usando JSON.parse
                                var tokenGenderArray = JSON.parse(token.gender);
                                %>

                                <% tokenGenderArray.forEach(function(item) { %>
                                    <p><%= item %></p>
                                <% }); %>
                                
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <li><Span>Recursos</Span></li>
                            <li class="ul-description">
                                <%
                                    // Suponha que `token.resources` contenha a string '{"tokens": 100}'
                                    var resourcesObject = JSON.parse(token.resources);
                                %>

                                <% Object.keys(resourcesObject).forEach(function(key) { %>
                                    <p><%= resourcesObject[key] %> <%= key %></p>
                                <% }); %>

                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>
        <section class="right-container">
            <span>R$ <%= token.price %></span>
            <section class="buttons">
                <button class="get">Compre agora</button>
                <a href="/store">Para collecionaveis</a>
            </section>
            <section class="informations">
                <ul>
                    <li>
                        <Span>Tipo de reembolso</Span>
                        <p>Não reembolsavel</p>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</main>