<link rel="stylesheet" href="/stylesheet/store/style.css">

<!-- model viewer -->

<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js" defer></script>

<%- include("../../partials/header.ejs") %>
    <main>
        <section class="container-for-item-store">
            <model-viewer autoplay ar ar-modes="webxr scene-viewer" class="<%= item.rarity %>" alt="Design ilustrativa do colecionavel <%= item.name %> "
                src="/source/models/<%= item.path %>" ar shadow-intensity="0" camera-controls
                touch-action="pan-y"></model-viewer>
            <section class="information-for-item">
                <h1 class="price">$ <%= item.price %>
                </h1>
                <span class="<%= item.rarity %>">
                    <%= item.rarity %>
                </span>
                <h2>
                    <%= item.name %>
                </h2>
                <p>
                    <%= item.description %>
                </p>
                <small>Criado por: <%= item.onwer %></small>

                <section>
                    <h3>Paleta de cores</h3>
                    <section class="color-Palette">
                        <% if (item.palette) { %>
                            <% var paletteArray = JSON.parse(item.palette); %>
                            <% paletteArray.forEach((color) => { %>
                                <section class="box" style="background-color: <%= color %>;"></section>
                            <% }); %>
                        <% } %>
                    </section>
                </section>
                <section>

                    <% if (alreadyPurchased) { %>
                        <form action="/store/get" method="post">
                            <input type="submit" value="Este item já está em sua coleção!" disabled >
                        </form>
                    <% } else { %>
                        <form action="/store/get" method="post">
                            <input type="hidden" name="id" value="<%= item.id  %>">
                            <input type="hidden" name="price" value="<%= item.price  %>">
                            <input type="submit" value="adquirir" style="background-color: <%= paletteArray[0]; %>" <%= locals.userid ? '' : 'disabled' %>>
                        </form>
                    <% } %>

                </section>
            </section>
        </section>
    </main>