<link rel="stylesheet" href="/stylesheet/store/style.css">

<!-- model viewer -->

<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js" defer></script>

<%- include("../../partials/header.ejs") %>
<main>

    <section class="poster-highlights">
        <section>
            <h2>Usuários destaque.</h2>
            <p>Usuários que se destacaram em sua coleção.</p>
        </section>
        <section class="highlights-container">

            <% if (highlights.length > 0) { %>

                <% 
                highlights = highlights.map(user => {
                    return {
                        ...user,
                        followers: JSON.parse(user.followers).length
                    };
                });
    
                highlights.sort((a, b) => b.followers - a.followers);
    
                highlights.forEach(user => { %>
        
                    <%- include("../../partials/card/poster.ejs", {user: user}) %>
        
                <% }) %>
        
            <% } else { %>
        
                <span>Sem destaques atualmente.</span>
        
            <% } %>

        </section>
    </section>

    <!-- premium -->

    <section class="premium-feed">
    
        <section class="top-for-feed">

            <section>
                <h2>Passe mensal</h2>
            </section>

            <section class="feed-itens">
                
            </section>

        </section>

    </section>

    <!-- feed -->

    <section class="store-feed">

        <section class="top-for-feed">
            <section>
                <h2>Feed</h2>
            </section>
            <section class="container-navs">
                <section class="nav">
                    
                    <select onchange="handleChange(this)">
                        <option value="all" <%= category === 'all' ? 'selected' : '' %>>Todos</option>
                        <option value="new" <%= category === 'new' ? 'selected' : '' %>>Novo</option>
                    </select>
                    
                </section>
                <section>
                    <ul class="clear">
                        <li><a href="/store">Limpar</a></li>
                    </ul>
                </section>
            </section>

        </section>

        <!-- feed -->

        <section class="feed-itens">
            
            <% if (shop.length > 0) { %>

                <% shop.forEach((product) => { %>
        
                    <%- include("../../partials/card/forbuy.ejs", {product: product}) %>
        
                <% }) %>
        
            <% } else { %>
        
                <span>Sem collecionaveis no feed.</span>
        
            <% } %>

        </section>

    </section>

</main>